ul { 
    background: yellow; 
    margin: 12px 12px 12px 12px;
    padding: 3px 3px 3px 3px;
                                 /* No borders set */
  }
  li { 
    color: white;                /* text color is white */ 
    background: blue;            /* Content, padding will be blue */
    margin: 12px 12px 12px 12px;
    padding: 12px 0px 12px 12px; /* Note 0px padding right */
    list-style: none             /* no glyphs before a list item */
                                 /* No borders set */
  }
  li.withborder {
    border-style: dashed;
    border-width: medium;        /* sets border width on all sides */
    border-color: lime;
  }


  /* Small screens (default)
html { font-size: 100%; } */

/* Medium screens (640px) */
/* @media (min-width: 40rem) { 
  html { font-size: 112%; }
}

/* Large screens (1024px) */
/* @media (min-width: 64rem) { 
  html { font-size: 120%; }
}



*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  .container {
    margin: 0 auto;
    max-width: 48rem;
    width: 90%;
    background-color: brown;
  }*/

  @media (min-width: 40rem) {
    .column {
      float: left;
      padding-left: 1rem;
      padding-right: 1rem;
    }
    
    .column.full { width: 100%; }
    .column.two-thirds { width: 66.7%; }
    .column.half1 { width: 50%; background-color: brown;}
    .column.half2 { width: 50%; background-color: rgb(35, 5, 202);}
    .column.third { width: 33.3%; }
    .column.fourth { width: 25%; }
    .column.flow-opposite { float: right; }  
  } 

  .clearfix:before,.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
  content: " ";

}

.clearfix {
  *zoom: 1;
  background-color: rgb(0, 206, 0);

}

@media (min-width: 40rem) {
    .column.flow-opposite { float: right; }
  }


.block {
	width: 200px;
	height: 200px;
}
.float { float: left; }
.clear { clear: left; }
.pink { background: #ee3e64; }
.blue { background: #44accf; }
.green { background: #b7d84b; }
.orange { background: #E2A741; }

#container {
	width: 960px;
	margin: 0 auto;
}
#content {
	float: left;
	width: 660px;
	background: #fff;
}
#navigation {
	float: right;
	width: 300px;
	background: #eee;
}
#footer {
	clear: both;
	background: #aaa;
	padding: 10px;
}

#container-imagen1 {
	width: 280px;
	margin: 0 auto;
	padding: 10px;
	background: #aaa;
	border: 1px solid #999;
}
/* img {
  float: right;
  width: 30px;
  height: 30px;
} */

#container-imagen2 {
	width: 280px;
	margin: 0 auto;
	padding: 10px;
	background: #aaa;
	border: 1px solid #999;
}

/* #container-imgs {
	width: 260px;
	margin: 0 auto;
	padding: 10px 0 10px 10px;
	background: #aaa;
	border: 1px solid #999;
} */

#container-imgs{
	/* overflow: hidden;
	opacity: 2;
	margin: 0 auto;
	padding: 10px 0 10px 10px;
	background: rgb(231, 228, 228);
  border: 1px solid #999; */
  clear: both;
  background: rgb(32, 86, 236);
  display: block;
  float: left;
  width: 100%;
  padding: 40px;
}

/* #container:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
} */



img:hover {
  margin: 0 5px 0 0;
  opacity: .5; 
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
}

/* img:hover {
	float: left;
  margin: 0 5px 0 0;
  opacity: .5;
  
} */



*, *:before, *:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
 }
 .gallery-grid {
   clear: both;
   background: orange;
   display: block;
   float: left;
   width: 100%;
   padding: 10px;
 }
 .gallery-grid.columns {
   margin-right: 0;
 }
 .one-third {
   box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.3);
   width: -ms-calc(33.3333% - 16px);
   width: -moz-calc(33.3333% - 16px);
   width: -webkit-calc(33.3333% - 16px);
   width: calc(33.3333% - 16px);
   margin: 8px;
   height: auto;
   position: relative;
   float: left;
 }
 .opacity{
  box-shadow: 0 0 2px 0 rgba(235, 8, 8, 0.3);
  width: -ms-calc(33.3333% - 16px);
  width: -moz-calc(33.3333% - 16px);
  width: -webkit-calc(33.3333% - 16px);
  width: calc(33.3333% - 16px);
  margin: 8px;
  height: auto;
  position: relative;
  float: left;
 }
 .one-third:last-of-type {
   margin-right: 0;
 }
 .gallery-grid img {
   width: 100%;
   height: auto;
   position: relative;
   float: left;
 }
 .gallery-grid a {
   display: block;
 }
 .screen {
   background-color: rgba(68, 24, 228, 0.5);
   left: 0;
   top: 0;
   border-radius: 0;
   height: 100%;
   width: 100%;
   position: absolute;
   opacity: 0;
   z-index: 1000;
   -webkit-transition: all 0.3s ease-in-out;
     -moz-transition: all 0.3s ease-in-out;
       -o-transition: all 0.3s ease-in-out;
         -ms-transition: all 0.3s ease-in-out;
           transition: all 0.3s ease-in-out;
 }
 .screen:hover {
   opacity: 1
 }
 .title {
   color: #fff;
   font-family: arial, helvetica, sans-serif;
   font-weight: bold;
   -webkit-transition: all 0.3s ease-in-out;
     -moz-transition: all 0.3s ease-in-out;
       -o-transition: all 0.3s ease-in-out;
         -ms-transition: all 0.3s ease-in-out;
           transition: all 0.3s ease-in-out;
   margin-left: -30px;
 }
 .screen:hover .title {
   margin-left: 0;
 }
 p {
   font-size: 2em;
   padding: 5%;
 }
 .screen.fade-in .title {
   margin-left: 0;
 }
 .screen.fade-in:hover {
 }
 .cta {
   clear: both;
   font-weight: bold;
   font-family: arial,helvetica, sans-serif;
   display: block;
   font-size: 2em;
 }